<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XR.Settings.Graphics" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XR.Settings.Graphics>
            <setting name="TexQualityBias" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextureFilter" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UseMips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MultiSampling" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LightingQuality" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BackFaceCulling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputBrightness" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="RenderingBackend" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FacesColl" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Resources/Skybox/right.jpg</string>
                        <string>Resources/Skybox/left.jpg</string>
                        <string>Resources/Skybox/top.jpg</string>
                        <string>Resources/Skybox/bottom.jpg</string>
                        <string>Resources/Skybox/front.jpg</string>
                        <string>Resources/Skybox/back.jpg</string>
                    </ArrayOfString>
                </value>
            </setting>
        </XR.Settings.Graphics>
    </userSettings>
</configuration>